body, h1 {
    margin: 0;
}
html {
    font-size: 100%;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
*, *::before, *::after {
    box-sizing: inherit;
}
img {
    max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}


img {
  max-width: 100%;
  display: block;
}

a {
  color: var(--blue);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  width: min(100% - 2rem, var(--container));
  margin-inline: auto;
}